/*
Colors used:
background Color (Black): #333333;
Text Color (White): #FEFCFC ;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #FEFCFC;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #333333;
}

img {
  width: 100%;
}


h1,
h2,
h3,
h4 {
  font-family: "Lora", system-ui;
  line-height: 1.4;
}

h1 {
  font-size: 1.75em;
  font-weight: 700;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  font-size: 1.25em;
  font-weight: 700;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
}

p {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-size: 1.0em;
  font-weight: 400;
  font-style: normal;
}

li {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-size: 1.0em;
  font-weight: 400;
  font-style: normal;
}



/*
Hyperlink color
*/

a {
  color: #0000FF;
  text-decoration: none;
  /* No underlining */
}

a:hover {
  color: #0000FF;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}


a:visited {
  /* visited link */
  color: #0000FF;
}

a:active {
  /* selected link */
  color: #0000FF;
}


a:hover,
a:focus {
  color: #0000FF;
  text-decoration: underline;
}

/* Button */

.button {
  display: inline-block;
  background-color: #3498DB;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  padding: 10px;
  text-decoration: none;
}

.button.contact {
  background-color: #3498DB;
  color: #ffffff;
  text-transform: Sentensecase;
  border: 2px solid #3498DB;
  padding: 10px;
}

.button.contact:hover {
  background-color: #3498DB;
  color: #ffffff;

}

header {
  background-color: #333333;
  padding: 10px;
  margin: 0 0 10px;
}


#float-text picture {
  float: left;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
}

#work .row { padding-bottom: 25px; border-bottom: 1px solid #333333; }

#hero h1 {
  text-align: left;
}

.logo {
  max-width: 250px;
}

header {
  background-color: #ffe4c4;
  text-align: center;
  padding: 10px 0;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #333333;
}

.navigation {
  text-align: center;
}


#hero h1 {
  margin: 10px;
  padding: 0.67em 0;
}

#hero {
  background-color: #ffe4c4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#footer {
  background-color: #ffe4c4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

# .row {
  padding-bottom: 25px;
}